body {
    margin: 0px;
    padding: 0px;
    background: url(../images/canvas03.jpg);
}

#body {
    margin: 0 auto;
    width: 320px;
}

/* ヘッダーのユーザーアクション */
nav {
    display: -webkit-box;
    margin-top: 10px;
    -webkit-box-pack: end;
    line-height: 44px;
}

.top_actions_message {
    color: #FFF;
    font-size: 12px;
    margin-right: 5px;
}

.top_actions_message a {
    text-decoration: none;
    color: #0000ff;
}

ul.top_actions {
    display: -webkit-box;
    -webkit-box-pack: end;
    list-style-type: none;
    margin: 0 50px 0 0;
    padding: 0;
    height: 44px;
}

ul.top_actions .action {
    margin-left: 5px;
}

ul.top_actions .action a {
    text-decoration: none;
    display: block;
}

ul.top_actions .action a img {
    width: 44px;
    height: 44px;
}

ul.user_actions {
    display: -webkit-box;
    -webkit-box-pack: end;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 44px;
}

ul.user_actions .action {
    width: 44px;
    text-align: center;
    border: 1px #ccc solid;
    line-height: 44px;
    height: 44px;
    background: #FFF;
    border-radius: 22px;
    margin-left: 5px;
}

ul.user_actions .action img {
   width: 20px;
   height: 20px;
   margin-top: 11px;
}

ul.user_actions .action a {
    text-decoration: none;
    display: block;
}

ul.top_actions .action {
    margin-left: 5px;
}

/* ページのデザイン */
.comment {
    position: relative;
    margin: 21px auto 20px;
    width: 300px;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
}

.comment textarea {
    width: 270px;
    height: 180px;
    margin: 10px 10px 0;
    font-size: 14px;
    padding: 2px 5px;
}

.comment .comment_tool {
    display: -webkit-box;
    -webkit-box-pack: end;
}

.comment .update_btn {
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 24px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    color: #333;
    margin: 0px 8px 7px 0px;
}

.dreams_message {
    margin: 30px 0 0;
    text-align: center;
}

.dreams_message h3 {
    font-size: 14px;
    font-weight: normal;
    color: #FFF;
}

.dream {
    margin: 21px 0 10px;
    width: 320px;
    height: 131px;
    background: url(../images/cloud.png) no-repeat;
    position: relative;
}

.dream .dream_info {
    margin: 0 auto;
    width: 280px;
    height: 131px;
    display: table;
}

.dream .dream_info .dream_title {
    height: 131px;
    display: table-cell;
    vertical-align: middle;
}

.careful {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.dream_tool {
    margin-top: 10px;
    padding: 5px 0px;
    display: -webkit-box;
    -webkit-box-pack: end;
}

.dream_tool .cheers_btn_form {
    text-align: right;
    margin-right: 10px;
}

.dream_tool .cheers_btn {
    border-radius: 30px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 24px;
    height: 60px;
    width: 60px;
    font-size: 11px;
    color: #000;
}

.dream_tool .cheers_message {
    font-size: 12px;
    margin-bottom: 0px;
    color: #fff;
    margin-right: 10px;
    line-height: 60px;
}

.dream_tool .order_save {
    margin: 15px 0 0 20px;
    text-align: right;
}


.dream_tool .order_save_btn {
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 24px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    color: #333;
}

.display_none {
    display: none;
}

.comments_wrapper {
    width: 100%;
}

ul.comments {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin: 20px 0 0px;
}

li div.comment {
    position: relative;
    margin: 0 auto 20px;
    width: 300px;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
}

li div.comment p {
    word-break: break-all;
    padding: 15px;
}

li div.comment p img {
    line-height: 0px;
    width: 270px;
}

li div.comment .tweet_btn {
    padding: 15px;
}

li div.comment textarea {
    margin: 10px;
    width: 270px;
    font-size: 14px;
    height: 180px;
    margin-bottom: 40px;
    padding: 5px;
}

div.comment .display_none {
    display: none;
}

.comment_form {
    text-align: center;
    margin-bottom: 80px;
}

.comment_form .user_comment {
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    width: 290px;
    height: 200px;
    padding: 5px;
    font-size: 14px;
}

.comment_form .comment_submit {
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 40px;
    height: 44px;
    width: 300px;
    font-size: 14px;
    color: #333;
}

.ui-state-highlight {
    height: 74px;
    border: dotted 2px #0000ff;
}

.visibility_hidden {
    visibility: hidden;
}