body {
    margin: 0px;
    padding: 0px;
    background: #eee;
}

#body {
    margin: 0 auto;
    width: 320px;
}

.vertical_middle {
    width: 320px;
    height: 131;
    display: table-cell;
    vertical-align: middle;
    line-height: 0px;
}

header .title {
    margin: 30px 0px 30px;
    background: url(../images/cloud.png) no-repeat;
    text-align: center;
    width: 320px;
    height: 131px;
    display: table;
    line-height: 0px;
}

header .title h1 {
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

header .dream_info {
    padding: 5px;
    display: -webkit-box;
    -webkit-box-pack: end;
    border-bottom: 1px #ccc solid;        
}

.add_form {	
    width: 290px;
    margin: 0 auto;	    
}

.item .title {
   margin: 10px 0;
   width: 280px;      
   height: 44px;
   padding: 5px;
   border: 1px #ccc solid;
   font-size: 14px;
   border-radius: 3px;
}

.item textarea.body {
   width: 280px;      
   height: 320px;	 
   margin: 0px;
   font-size: 14px;
   padding: 5px;
   border: 1px #ccc solid;
   border-radius: 3px;
}

.item select.category {
  margin: 10px 0 20px;      
  width: 290px;    
  height: 44px;      
}

.add_form .submit {
    width: 290px;
    height: 44px;	    
    border: 1px #ccc solid;
    border-radius: 3px;
    background: #FFF;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 60px;
}

ul.user_actions {
   border-top: 1px #ccc solid;    		
}

ul.user_actions .action a:visited {
    color: #000;		
}

ul.user_actions .action a {
    display: block;
    color: #000;
    position: relative;
}

ul.user_actions .action {
   height: 44px;
   border-bottom: 1px #ccc solid;
   text-align: left;
}

ul.user_actions .action img {
   position: absolute;		
   width: 20px;
   height: 20px;
   top: 10px;
   left: 0px;
}

ul.user_actions .action_name {
    display: block;
    width: 100px;
    line-height: 44px;
    padding-left: 30px;
    height: 44px;
    margin: 0 auto;		
    position: relative;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

.dream_wrapper {
    width: 100%;
}

.dream h1 {
    font-size: 18px;
    margin-top: 0px;
    font-weight: normal;
}

.dream_body {
    font-size: 14px;
}

.dream .author {
    font-size: 12px;
    color: #888;
}

.dream .author_wrapper {
    margin-top: 20px;
    text-align: right;
}

.dream_inner {
    border-bottom: 1px #ccc solid;
    padding: 15px;
}

.comment_form {
    padding: 15px;
    margin-bottom: 40px;
}

.comment_form .user_comment {
   width: 280px;
   height: 140px;
   margin: 0px;
   font-size: 14px;
   padding: 5px;
   border: 1px #ccc solid;
   border-radius: 3px;
}

.comment_form .submit {
    width: 290px;
    height: 44px;
    border: 1px #ccc solid;
    border-radius: 3px;
    background: #FFF;
    font-size: 14px;
    line-height: 40px;
    margin-top: 10px;
}

.comment {
    position: relative;	 
    padding: 15px;
    border-bottom: 1px #ccc solid;
}

.comment_body {
    margin: 0px;
    font-size: 14px;
}

.comment_author {
    font-size: 12px;
    margin-top: 20px;
    text-align: right;
    color: #888;
}

.thanks_btn {
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 24px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    color: #333;
}

.thanks_btn:disabled {
    color: #888;
}

.thanks_message {
    text-align: center;
    font-size: 12px;
    margin: 3px;
    color: #888;
}

.cheers_btn_form {
    text-align: right;
}

.cheers_btn {
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 24px;
    height: 30px;
    width: 100px;
    font-size: 14px;
}

.cheers_message {
    font-size: 12px;
    margin-bottom: 0px;
    color: #888;
    margin-right: 10px;
    line-height: 30px;
}

.tool {
   position: absolute;
   bottom: 10px;
   right: 10px;
   display: -webkit-box;  
   -webkit-box-pack: end;
   margin-top: 40px;
}

.edit_btn {
    text-align: center;
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 30px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    margin-right: 10px;
    color: #333;
}

.display_none {
    display: none;
}

.ui-state-highlight {
    height: 2.2em;
    border: dotted 2px #0000ff;
}

.order_save {
    margin: 5px;
    text-align: right;
}

.order_edit_btn {
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 24px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    color: #333;
}

.order_save_btn {
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 24px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    color: #333;
}
