body {
    margin: 0px;
    padding: 0px;
    background: #eee;
}

#body {
    border-top: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-left: 1px #ccc solid;
    margin: 0 auto;
    width: 320px;
    background-color: #FFF;
}

header {
    display: -webkit-box;
    -webkit-box-pack: center;
    padding: 10px 0;
    border-bottom: 1px #ccc solid;
}

header h1 {
    font-size: 18px;
    font-weight: normal;
    -webkit-box-ordinal-group: 2;
}

header .user_image {
    -webkit-box-ordinal-group: 1;
    margin-right: 10px;
}

ul.user_actions .action a:visited {
    color: #000;		
}

ul.user_actions .action a {
    display: block;
    color: #000;
    position: relative;
}

ul.user_actions .action {
   height: 44px;
   border-bottom: 1px #ccc solid;
   text-align: left;
}

ul.user_actions .action img {
   position: absolute;		
   width: 20px;
   height: 20px;
   top: 10px;
   left: 0px;
}

ul.user_actions .action_name {
    display: block;
    width: 100px;
    line-height: 44px;
    padding-left: 30px;
    height: 44px;
    margin: 0 auto;		
    position: relative;
}

nav {
    text-align: center;
    display: -webkit-box;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    height: 44px;
    line-height: 44px;
}

#add_btn {
    background-color: #bedbfd;
}

#list_btn {
    background-color: #fed980;
}

.nav_btn {
    width: 160px;
    height: 100%;
}

#list_page .search_form .category {
    margin: 15px 0;
    width: 160px;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style-type: none;
}

.dream {
    padding: 10px;
    font-size: 14px;
    height: 60px;
    border-bottom: 1px #ccc solid;
    position: relative;
}

a {
    text-decoration: none;
}

.dream a {
    color: #000;       
}

.dream_text {
    line-height: 64px;
}

.dream .count_comments {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 10px;
    font-size: 10px;
    color: #8a8a8a;
}

#logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 32px;
    width: 100%;
    background: #c0c0c0;
    color: #fff;
}

.dream_message {
    text-align: center;
    height: 60px;
    line-height: 60px;
    padding: 0px;
    margin: 0px;	       
    border-bottom: 1px #ccc solid;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

a .dream_message {
    color: #0000ff;       	       
}

a:visited .dream_message {
    color: #0000ff;       	       
}

.search_form {
   border-bottom: 1px #ccc solid;
   height: 64px;
   text-align: center;
}

.search_form .category {
    float: left;
    display: table;
    vertical-align: middle;
    width: 50%;
    margin: 10px 0 0 7%;
    height: 44px;
    line-height: 44px;
}

.search_form .submit {
    float: left;
    width: 30%;
    margin: 10px 0 0 5%;
    height: 44px;
    border: 1px #ccc solid;
    border-radius: 3px;
    background: #FFF;
    font-size: 14px;
    line-height: 40px;	     
}