body {
    margin: 0px;
    padding: 0px;
    background: url(../images/canvas03.jpg);
}

#body {
    margin: 0 auto;
    width: 320px;
}

/* ヘッダーのユーザーアクション */
nav {
    display: -webkit-box;
    margin-top: 10px;
    -webkit-box-pack: end;
    line-height: 44px;
}

.top_actions_message {
    color: #FFF;
    font-size: 12px;
    margin-right: 10px;
}

.top_actions_message a {
    text-decoration: none;
    color: #0000ff;
}

ul.user_actions {
    display: -webkit-box;
    -webkit-box-pack: end;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 44px;
}

ul.user_actions .action {
    width: 44px;
    text-align: center;
    border: 1px #ccc solid;
    line-height: 44px;
    height: 44px;
    background: #FFF;
    border-radius: 22px;
    margin-left: 5px;
}

ul.user_actions .action img {
   width: 20px;
   height: 20px;
   margin-top: 11px;
}

ul.user_actions .action a {
    text-decoration: none;
    display: block;
}

ul.top_actions .action {
    margin-left: 5px;
}

/* ページのデザイン */
.dreams_message {
    margin: 30px 0 0;
    text-align: center;
}

.dreams_message h3 {
    font-size: 14px;
    font-weight: normal;
    color: #FFF;
}

ul.dreams {
    list-style-type: none;
    margin: 0 0 30px;
    padding: 0;
}

ul.dreams li.dream {
    width: 320px;
    height: 131px;
    background: url(../images/cloud.png) no-repeat;
    position: relative;
    margin-bottom: 10px;
}

ul.dreams li.dream .dream_info {
    margin: 0 auto;
    width: 280px;
    height: 131px;
    display: table;
}

ul.dreams li.dream .dream_info .dream_title {
    height: 131px;
    display: table-cell;
    vertical-align: middle;
}

ul.dreams a {
    display: block;
    text-decoration: none;
    color: #000;
}

ul.dreams a:visited {
    color: #000;
}

.search_form {
    margin-bottom: 30px;
    text-align: center;
}

.search_form .search_submit {
    text-align: center;
    border-radius: 5px;
    background-color: #FFF;
    border: 1px #ccc solid;
    line-height: 26px;
    height: 30px;
    width: 100px;
    font-size: 14px;
    margin-right: 10px;
    color: #333;
}

.careful {
    text-align: center;
    color: #fff;
}