.name {
    width: 80px;
    float: left;
}

textarea {
   width: 320px;	 
   height: 320px;	 
   margin-top: 20px;
}

.item input[type="text"] {
   width: 320px;      
   height: 20px;
}

button {
  margin-top: 20px;      
}